#  Capstone: Segmenting and clustering assignment

Importing the necessary packages

In [2]:
import pandas as pd

Reading in the data

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

Dropping rows containing "Not assigned" in the Borough column

In [4]:
df.drop(df.loc[df["Borough"]=="Not assigned"].index, inplace=True)

In [5]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Combining rows under "Neighbourhood" with same value in "Postcode"

In [6]:

df2 = df.groupby(['Postcode','Borough'])['Neighbourhood'].agg(', '.join).reset_index()

In [7]:
df2.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W  Etobicoke                                          Northwest

Convert the one "Not assigned" Neighbourhood to "Queen's Park"

In [8]:
df2['Neighbourhood'].replace('Not assigned',"Queen's Park", inplace=True)

Get the shape of the dataframe

In [9]:
df2.shape

(103, 3)